/* ==========================================================================
   Footer styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
@-webkit-keyframes mkdfborderdance {
  0% {
    background-position: 0% 0px, 100% 100%, 0% 100%, 100% 0%;
  }
  100% {
    background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
  }
}

@keyframes mkdfborderdance {
  0% {
    background-position: 0% 0px, 100% 100%, 0% 100%, 100% 0%;
  }
  100% {
    background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
  }
}

/* ==========================================================================
   Footer style - begin
   ========================================================================== */
.mkdf-page-footer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-border {
  border-top: 2px dashed #f2f2f0;
}

.mkdf-page-footer .mkdf-footer-top-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #ffffff;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-center {
  text-align: center;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-left {
  text-align: left;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-right {
  text-align: right;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner {
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid {
  padding: 102px 0 74px;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-full-width {
  padding: 102px 40px 74px;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner .mkdf-widget-title {
  letter-spacing: 0;
}

.mkdf-page-footer .mkdf-footer-top-holder .widget_text ul {
  margin: 28px 0 0;
}

.mkdf-page-footer .mkdf-footer-top-holder .widget_mkdf_instagram_widget ul {
  margin: 45px 0 0;
}

.mkdf-page-footer .mkdf-footer-top-holder p, .mkdf-page-footer .mkdf-footer-top-holder a {
  color: #8f9093;
}

.mkdf-page-footer .mkdf-footer-bottom-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #f8f8f8;
  box-sizing: border-box;
  text-align: center;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner {
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-grid {
  padding: 6px 0;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-grid .widget {
  margin: 0;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-full-width {
  padding: 6px 40px;
}

.no-touch body:not(.error404) .mkdf-page-footer.mkdf-footer-uncover {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.mkdf-right-side-menu-opened .mkdf-page-footer.mkdf-footer-uncover {
  left: -270px;
}

/* ==========================================================================
   Footer style - end
   ========================================================================== */
/* ==========================================================================
   Footer styles - end
   ========================================================================== */

/*# sourceMappingURL=footer-map.css.map */
